body { background-color: #ffedf1;
 	 	background-image: url("deerprint.jpg");
  		background-repeat: no-repeat;
 	 	background-size: cover;}

.container { background-color: #ffedf1;
 			 padding: 30px;
 			 border-radius: 12px;
 			 width: 800px;
 			 margin: auto;
 			 box-shadow: 0 4px 10px rgba(0,0,0,0.1)}

.text { color: #703c3b;
		font-size: 18px;
		text-align: left
 		margin: 0 auto;
  		line-height: 1.6;}

.header { color: #703c3b;
		font-size: 22px;
		text-align: center;
		background-color: #FFFBF1}

.title { color: #703c3b;
		font-size: 30px;
		text-align: center}


.name { color: #703c3b;
		font-size: 20px;
		text-align: center}

.image {display: block;
 		margin: 0 auto;
 		border: 4px solid #FFFBF1;
 		width:700px;
 		height:auto;}

 .list { color: #703c3b;
		font-size: 18px;
		text-align: center
 		margin: 0 auto;
  		line-height: 1.6;}

  .form { background-color: white;
 			 padding: 30px;
 			 border-radius: 12px;
 			 width: 500px;
 			 margin: auto;
 			 box-shadow: 0 4px 10px rgba(0,0,0,0.1)}

.divider {display: block;
 		margin: 0 auto;
 		width:800px;
 		height:auto;}
